#!/bin/sh
# pgpool_remote_start
# NOTE: This script must be placed in the PGDATA directory and the filename must
#       be "pgpool_remote_start" since it is hardcoded in pgpool source.
# NOTE: This script always runs on the primary server.
# http://www.pgpool.net/docs/latest/pgpool-ja.html#online_recovery_in_stream_mode
set -eu

echo start args=$* UID=$UID | logger -t pgpool_remote_start

REMOTE_HOST=$1
REMOTE_PGDATA=$2


ssh_cmd="/bin/ssh -T postgres@$REMOTE_HOST"
if [ $UID -eq 0 ]; then
  ssh_cmd="/bin/sudo -u postgres $ssh_cmd"
fi

$ssh_cmd "
{{ postgresql_bin_dir }}/pg_ctl -w -D $REMOTE_PGDATA start 2>/dev/null 1>/dev/null < /dev/null &"
