#!/bin/sh
set -eu

REMOTE_HOST=$1
REMOTE_PGDATA=$2

echo pgpool_remote_start.sh start REMOTE_HOST=$1 REMOTE_PGDATA=$2 | logger

ssh_cmd="/bin/ssh -T postgres@$REMOTE_HOST"
if [ $UID -eq 0 ]; then
  ssh_cmd="/bin/sudo -u postgres $ssh_cmd"
fi

$ssh_cmd "
{{ postgresql_bin_dir }}/pg_ctl -w -D $REMOTE_PGDATA start 2>/dev/null 1>/dev/null < /dev/null &"
