standby_mode = 'on'
primary_conninfo = 'host={{ postgresql_peer_ipaddr }} port={{ postgresql_port }} user={{ postgresql_replication_user }}'
restore_command = 'scp {{ postgresql_peer_ipaddr }}:{{ postgresql_archive_dir }}/%f %p'
recovery_target_timeline = 'latest'
trigger_file = '{{ postgresql_data_dir }}/trigger'
